* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: #000;
    border-radius: 3px;
}
::-webkit-scrollbar-track{
    background: gainsboro;
}
.container {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    background: #ed143d3b;
}

h2 {
    font-size: 2rem;
    padding: 15px;
    text-align: center;
    display: block;
    background: #910000e8;
    color: snow;
    font-family: math;
}

.imgarea {
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
}

.imgbox {
    /* flex-shrink: 0; */
    width: 102px;
    height: 102px;
    border: 2px solid black;
    border-radius: 3px;
    margin: .5px;
    overflow: hidden;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.imgbox:hover{
    scale: 1.12;
    margin: 2px;
    
 
}
